<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name=".LogCollectorActivity"
            android:enabled="@bool/log_collector_add_launcher_icon"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/log_collector_activity_label"
            android:process=":logcollectoractivity"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:taskAffinity="com.forasoft.androidutils.logcollector.${applicationId}"
            android:theme="@style/LogCollectorTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <service
            android:name=".LogCollectorService"
            android:exported="true"
            tools:ignore="ExportedService" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.forasoft.androidutils.logcollector.LogCollectorServiceInitializer"
                android:value="androidx.startup" />

        </provider>

    </application>

</manifest>
