<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <activity
            android:name=".ui.LogPeckerActivity"
            android:enabled="@bool/forasoftandroidutils_log_pecker_enabled"
            android:exported="true"
            android:label="@string/forasoftandroidutils_log_pecker_activity_label"
            android:process=":logpeckeractivity"
            android:screenOrientation="portrait"
            android:taskAffinity="com.forasoft.androidutils.logpecker.${applicationId}"
            android:theme="@style/forasoftandroidutils_LogPeckerActivityTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="com.forasoft.androidutils.logpecker.LogPeckerInitializer"
                android:value="androidx.startup" />

        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:process=":logpeckeractivity"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/forasoftandroidutils_log_pecker_log_paths" />
        </provider>

    </application>

</manifest>
